body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 40px auto;
    background-color: antiquewhite;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.input-container {
    display: flex;
    margin-bottom: 20px;
}

.input-container input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

.input-container button {
    background-color: #4CAF50;
    color: #FFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #EEE;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

ul li span {
    flex-grow: 1;
}

ul li button {
    background-color: #E53935;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
}
